//COLORS
$color-primary: #ff7a21;
$color-primary-light: #ffc336;
$color-primary-white: #ffffff;
$color-primary-blue: rgb(36, 39, 83);
$color-primary-light-blue: rgb(44, 64, 94);
$color-primary-black: rgba(0, 0, 0, 0.2);
$color-grey-light-1: #fffffff1;
$color-grey-light-2: #4b4949;
$color-grey-dark: #434141;

$color-secondary-light-1: #ffb900;
$color-secondary-light-2: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;

$color-primary-green: rgb(17, 156, 17);

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 10rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
